.App {
  text-align: center;
  
}
.Apptitle{
  text-align: center;
  font-style: italic;
  font-size: 24px;
  animation: title; 
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes title{
  0%{
    color: red;
  }
  25% {color: blueviolet;}
  50% {color: black;}
  100% {color: blue}
  100% {color: violet;}
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
