.App {
  text-align: center;
  
}
.Apptitle,.versus{
  text-align: center;
  font-style: italic;
  font-size: 24px;
  animation: title; 
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes title{
  0%{
    color: red;
  }
  25% {color: blueviolet;}
  50% {color: rgb(128, 128, 128);}
  100% {color: blue}
  100% {color: violet;}
}



